*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik",sans-serif;
}
body{
    height: 100%;
    background: #eee
}
.container{
    width: 90vmin;
    background-color: #ffffff;
    padding: 50px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(60,60,60,0.2);
}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.wrapper input{
    width: 60%;
    padding: 10px 5px;
    border-radius: 2px;
    border: 1px solid #201d2e;
    outline: none;
    background-color: #eee;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #201d2e;
}
.wrapper input:focus{
    border-bottom: 2px solid #201d2e;
}
.wrapper input::placeholder{
    font-size: 18px;
    font-weight: 600;
    color: #201d2e38;
}
.wrapper button{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #eee;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    transition: 0.2s;
}
.wrapper button i{
    font-size: 22px;
    color: #201d2e86;
    transition: 0.2s;
}
.wrapper button:hover{
    background-color: #201d2e86;
}
.wrapper button:hover i{
    color: #eee;
}
.container p{
    line-height: 35px;
    text-align: justify;
    margin-top: 30px;
}
mark{
    background-color: #ffdd4b;
}
